---
export interface Props {
  title: string;
  about: string;
  imgsrc: string;
  imglink: string;
}
const {title} = Astro.props;
const {about} = Astro.props;
const {imgsrc} = Astro.props;
const {imglink} = Astro.props;
import "../styles/global.css"
---

<h2 class="title">{title}</h2>
<div class="banner-container">
  <a href={imglink}>
    <img class='banner' src={imgsrc} width="492" height="277">
  </a>
  <p class="about">{about}</p>
</div>

<style>
  .about {
    word-wrap: break-word;
    max-width: 520px; /* reduce max-width to make text narrower */
    float: left;
    font-size: 17px;

    color: rgb(175, 175, 175);
    padding-left: 20px;
    padding-top: 1px;
  }
  
  .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items to the left */
    align-items: flex-start;
  }

  .title {

  }
  
  .banner {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px; 
    object-fit: scale-down; 
    max-width: 100%; 
    float: left;
  }

  @media only screen and (max-width: 600px) {
    .banner {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block;

      object-fit: scale-down; 
      max-width: 100%; 
      float: left;
    }
  }
</style>