---
export interface Props {
  title: string;
  about: string;
  imgsrc: string;
}
const {title} = Astro.props;
const {about} = Astro.props;
const {imgsrc} = Astro.props;
import "../styles/global.css"
---

<h2 class="title">{title}</h2>
<img style="border-radius: 25px; object-fit: scale-down; max-width: 100%; padding: 8px" src={imgsrc} width="492" height="277">
<p class="about">{about}</p>

<style>
  .about {
    word-wrap: break-word;
    max-width: 500px; /* set the maximum width of the text */
  }
</style>