---
export interface Props {
  title: string;
  about: string;
  imgsrc: string;
}
const {title} = Astro.props;
const {about} = Astro.props;
const {imgsrc} = Astro.props;
import "../styles/global.css"
---

<h2 class="title">{title}</h2>
<img style="border-radius: 2%;" src={imgsrc}>
<p class="about">{about}</p>