---
const { title } = Astro.props

const { homeactive } = Astro.props
const { aboutactive } = Astro.props
const { projectsactive } = Astro.props
const { contactactive } = Astro.props

import "../styles/global.css"
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/Cybo3DLogo.svg' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    
    <div class="topnav">
      <img class="LogoNavBar" src='/Cybo3DLogo.svg' width="53" height="53">
      <a class={homeactive} href="/">Home</a>
      <a class={aboutactive} href="/about">About</a>
      <a class={projectsactive} href="/projects">Projects</a>
      <a class={contactactive} href="/contact">Contact</a>
    </div>

    <h1>{title}</h1>
   
    <slot />

    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col item social">
                    <a href="#"><i class="icon ion-social-youtube"></i></a>
                    <a href="#"><i class="icon ion-social-reddit"></i></a>
                    <a href="#"><i class="icon ion-social-github"></i></a>
                    <a href="#"><i class="icon ion-ios-game-controller-b"></i></a>
                  </div>
              </div>
              <p class="copyright">© 2023 Cybo3D</p>
          </div>
      </footer>
  </div>

  </body>
</html>